//@import 'variables'

@mixin fMargin(){
	margin-left: $saperator-margin;
//	margin-right: $saperator-margin;
	margin-top: $saperator-margin;
}

@mixin pagefont()
{
	font-family: 'Nova Mono', ;
}

@mixin fade-transition($element) {
	-webkit-transition: $element 0.3s ease-in-out;
	-moz-transition: $element 0.3s ease-in-out;
	-ms-transition: $element 0.3s ease-in-out;
	-o-transition: $element 0.3s ease-in-out;
	transition: $element 0.3s ease-in-out;
}

@mixin swingAnimation()
{
	//Animation delay
			animation-delay: 0.05s;
			-webkit-animation-delay: 0.05s;
			-moz-animation-delay: 0.05s;
			animation-delay: 0.05s;

			//Add key frame animation for swinging
			-webkit-animation:swinging 1s ease-in-out 0s infinite;
			-moz-animation:swinging 1s ease-in-out 0s infinite;
			animation:swinging 1s ease-in-out 0s infinite;
			-webkit-transform-origin:50% 0;
			-moz-transform-origin:50% 0;
			transform-origin:50% 0;

			//Run the keyframe animation only once
			-webkit-animation: swinging 0.5s normal forwards; 
			-moz-animation:  swinging 0.5s normal forwards;
			-o-animation:  swinging 0.5s normal forwards;

	
}
