
//Use SASS to write your CSS
//SASS files are:
//
//main.scss
//which will import:
//
//normalize.scss
//variables.scss
//mixins.scss
//sticky-footer.scss
//
//You may divide your sass into addition files as you wish.
//Eg: 
//- grid.scss
//- buttons.scss

@import 'mixins';
@import 'variables';
@import 'swing';

/* =========== main style =========== */
.wrapper
{
	overflow:auto;
	background-color: rgba(223,191,92,0.7); // #dfbf5c  ;
}

.box p
{
	margin:0 4% 4% 4%;
	text-align: left;
}

.masthead
{
	width: 100%;
	background-color: $greyLike ;
	text-align: center;
	color: #dddddd  ;
	padding-bottom: 1px;
	padding-top: 1px;
	@include pagefont;
	box-shadow: 0 0 5px $whiteLike;
}
.focal
{
	height: auto;
}
.row
{
	float: left;
	display: flex;
	margin-right: 2%;
}

//******** Col-3 ********//

.col-3
{
	flex: 1;
	@include fMargin;
	padding-top: 2%;

	//@include gradient-col3;
	width: $col-3-width;
	float: left;
	border-radius: 5px;
	color: $greyLike ;
	text-align: center;
	
	background-color: $greenLike;
//    border: 10px solid $whiteLike;
    overflow: hidden;
    position: relative;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.5);// #e6e6e6;
    cursor: pointer;
	
	@include pagefont;
	@include fade-transition(background);	
	
	img{
		display: block;
		position: relative;

		transition: all 0.2s linear;
		width: 80%;
		margin: 10%;
		height: 100%;
	}
	
	h3
	{
		text-transform: uppercase;
		color: $whiteLike;
		text-align: center;
		position: relative;
		font-size: 17px;
		//font-family: Raleway, serif;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		margin: 20px 0 0 0;

		transform: translateY(-100px);
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}
	
	p{
		font-size: 14px;
		position: relative;
		color: $whiteLike;
		padding-top: 2%;
		text-align: center;
		transform: translateY(100px);
		opacity: 0;
		transition: all 0.2s linear;
	}
	
	a.info{
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: #000;
		color: $whiteLike;
		font-family: Raleway, serif;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		
		&:hover
		{
			 box-shadow: 0 0 5px #000;
		}
	}
	
	&:hover
	{
		background-color: $blueLike;
		
		.iconic
		{
			@include swingAnimation;
		}
		
		img{
			transform: scale(1.1);
		}
		.mask
		{
			opacity: 1;
		}
		h3
		{
			opacity: 1;
			transform: translateY(0px);
		}
		p{
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 0.1s;
		}
		a.info
		{
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 0.2s;
		}
	}
}

//******** Col-4 ********//
.col-4
{
	flex: 1;	
	@include fMargin;
	background-color: $greenLike;
	width: $col-4-width;
	margin-bottom: 2%;
	padding-bottom: 1%;
	border-radius: 5px;
	color: $greyLike ;
	text-align: center;
	@include pagefont;
//	border: 5px solid $whiteLike;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,.5);
	font-size: 15px;
	cursor: pointer;
	@include fade-transition(background);
	
	h4
	{
		text-transform: uppercase;
		padding:11px 0px 16px 0px;
		text-align:center;
		background: transparent;
		/* Old browsers */
		background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.8) 50%);
		background-size: 200% 100%;
		background-position:left bottom;
		transition:all .15s ease;
	}
	
	&:hover
	{
		background-color: $blueLike;
		
		.fill-btn
		{
			color: whitesmoke;
			
			&:before
			{
				top: 0;
			}
		}
		h4
		{
			color: $whiteLike;
			background-position:right bottom;
		}
		p{
			color: $whiteLike;
			@include fade-transition(color);
		}
	}
}

// Button

.fill-btn {
  position: relative;
  //display:block;
  height: auto;
  width: auto;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: $greyLike;
  border: 2px $greyLike solid;
  border-radius: 4px;
//  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
	
	&:before
	{
	  content: "";
	  position: absolute;
	  background: $greyLike;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  top: 100%;
	  z-index: -1;
	  -webkit-transition: top 0.09s ease-in;
	}
}

/******** responsive layout *******/

//@media screen and (min-width: $breakpoint-mobile){
//  .container{
//    max-width: $breakpoint-mobile;
//    margin: 0 auto;
//  }
//}
//
//@media screen and (min-width: $breakpoint-small){
//  .container{
//    max-width: $breakpoint-small;
//  }
//}

@media screen and (min-width:800){
  .col-4
	{
	  @include fMargin;
	  width: 30%; 
	  padding-top: 2%;
	  float: left;
  }
}

//@media screen and (min-width: $breakpoint-large){
//  .container{
//    max-width: $breakpoint-large;
//  }
//}

/* =========== sticky footer =========== */

@import 'sticky-footer';

/* =========== normalize style =========== */

@import 'normalize';
