//Responsive screens
$breakpoint-mobile: 300px;
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 960px;

//$wrapper-universal-margin:0%;
$wrapper-width:100%;

$saperator-margin:2%;

$header-width:96%;

$col-3-width:30.6%;

$col-4-width:22.5%;
